body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    /*color: #DBE4CF; */
    /*color:#FDFDFD;*/
    color:#FFB27C;
    
    padding: 10px 0;

    /*background: #9EBF77; */
    background-color: #DB8F5A;


}
h1, h2, h3, p {
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
    text-align: center;

}
h1, h2 {
    /*background-color: #417505; */
    /*background-color: #603D80;*/
    background-color: #AA6839;

}

.page {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /*background-color: #2B5000;*/
    /*background-color: #3C086C;*/
    background-color: #47250D;
    
}
input {
   
    background-color: #FFB27C;
}
.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
    

}

.flex-outer {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 0 1 100px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 200px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer span {
    padding: 15px;
    border: none;
}                                                       

#buttonSumbit {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background-color: #AA6839;
    color:#FFB27C;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.buttonSubmit {
    font-size: 0.75em;
    padding: 8px 16px;
    margin: 10px;
    border: none;
    background-color: #AA6839;
    color:#FFB27C;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    display:flex;
}

.flex-inner li {
    width: 100px;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #47250D;
    text-align: center;
    font-size: small;
}
.smaller {
    font-size: small;
    text-transform: lowercase;
    margin: 0;
}
a {
    text-decoration: none;
    background-color: #AA6839;
    color:#FFB27C;
}
a:hover {
    color:#FDFDFD;
}

.chyba-form {
    font-size: 0.75em;
    margin: 0;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}
table tr {
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
    text-align: center;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
