<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/styly.css"
          th:href="${'../css/styly.css'}"/>
    <link rel="icon" href="../../static/images/favicon.png"
          th:href="${'../images/favicon.png'}"/>
    <title>Telefonní seznam</title>
</head>
<body>
    <!--/*@thymesVar id="kontakt" type="cz.czechitas.webapp.TelefonniKontakt"*/-->

    <div class="page">

        <h1>Telefonní záznam</h1>
        <form method="post">
        <ul class="flex-outer">
            <li>
                <p>Číslo</p>
                <div th:text="${kontakt.id}">1000</div>
            </li>
            <li>
                <p>Jméno</p>
                <input name="jmeno" value="Krteček"
                           th:value="${kontakt.jmeno}"/>
            </li>
            <li>
                <p>Město</p>
                <input name="mesto" value="Praha"
                        th:value="${kontakt.mesto}"/>
            </li>
            <li>
                <p>Stát</p>
                    <input name="stat" value="Česko"
                           th:value="${kontakt.stat}"/>
            </li>
            <li>
                <p>Telefon</p>
                <input name="telefon" value="+420123456789"
                               th:value="${kontakt.telefon}"/>
            </li>
            <li>
                <p></p>
                <input id="buttonSumbit" type="submit" value="Uložit změny">
            </li>
            <li>
                <p></p>
                <div class="buttonSubmit"><a th:href="${'.'}" href="index.html">Zpět</a></div>
            </li>
        </ul>
        </form>
    </div>
</body>
</html>
