<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/styly.css"
          th:href="${'../css/styly.css'}"/>
    <link rel="icon" href="../../static/images/favicon.png"
          th:href="${'../images/favicon.png'}"/>
    <title>Přihlášení neúspěšné</title>
</head>
<body>
    <div class="page">
        <h1>Přihlaste se znovu</h1>

        <h3 class="flex-outer">
            !Neplatné jméno nebo heslo
        </h3>

        <form method="post">
            <ul class="flex-outer">
                <li>
                    <label for="jmeno">Email:</label>
                    <input id="jmeno" name="email"
                               value=""/>
                    
                </li>
                <li>
                    <label for="hes">Heslo:</label>
                     <input id="hes" name="heslo" type="password"/>
                                 
                </li>
                <li>

                        <input id="buttonSumbit" type="submit" value="Přihlásit se"/>
                </li>
                <li>
                    <div class="buttonSubmit"><a href="zapomenute-heslo.html">Zapomenuté heslo</a></div>
                    <div class="buttonSubmit"><a th:href="${'registrace.html'}"href="registrace.html">Nová registrace</a></div>
                    
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
