<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/styly.css"
          th:href="${'../css/styly.css'}"/>.
    <link rel="icon" href="../../static/images/faviconpng"
          th:href="${'../images/favicon.png'}"/>
    <title>Registrace uživatele</title>
</head>
<body>
    <!--/*@thymesVar id="chybnyUdaj" type="java.lang.String"*/-->
    <!--/*@thymesVar id="registrace" type="java.util.List<cz.czechitas.webapp.RegistraceForm>"*/-->

    <div class="page">
        <h1 class="flex-outer">Registrace</h1>
        <p class="chyba" th:text="${chybnyUdaj}"></p>
        <form action="#" th:action="@{'../login/registrace.html'}" th:object="${registrace}"method="post">
            <ul class="flex-outer">
                <li>
                    <label for="jm">Jméno:</label>
                    <input id="jm" name="krestniJmeno"
                               placeholder="zadej křestní jméno" th:field="*{krestniJmeno}" />
                </li>
                <li>
                    <div class="flex-inner chyba-form" th:if="${#fields.hasErrors('krestniJmeno')}" th:errors="*{krestniJmeno}"></div>
                </li>
                <li>
                    <label for="prijm">Příjmení:</label>
                    <input id="prijm" name="prijmeni" placeholder="zadej příjmení" th:field="*{prijmeni}" />
                </li>
                <li>
                    <div class="flex-inner chyba-form" th:if="${#fields.hasErrors('prijmeni')}" th:errors="*{prijmeni}">Name Error</div>
                </li>
                <li>
                    <label for="em">Email:</label>
                    <input id="em" name="email" placeholder="zadej e-mail" th:field="*{email}" />
                </li>
                <li>
                    <div class="flex-inner chyba-form" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>

                </li>
                <li>
                    <label for="hes">Heslo:</label>
                    <input id="hes" name="heslo" type="password" placeholder="zadej heslo" th:field="*{heslo}" />
                </li>
                <li>
                    <div class="flex-inner chyba-form" th:if="${#fields.hasErrors('heslo')}" th:errors="*{heslo}">Name Error</div>
                </li>
                <li>
                    <label for="hes2">Heslo (znovu):</label>
                    <input id="hes2" name="hesloZnovu" type="password" placeholder="zadej heslo znovu" th:field="*{hesloZnovu}" />
                </li>
                <li>
                    <span class="flex-inner chyba-form" th:if="${#fields.hasErrors('hesloZnovu')}" th:errors="*{hesloZnovu}">Name Error</span>

                </li>
                <li>
                        <input id="buttonSumbit" type="submit" value="Zaregistrovat se"/>
                    
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
