<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/styly.css"
          th:href="${'../css/styly.css'}"/>
    <link rel="icon" href="../../static/images/favicon.png"
          th:href="${'../images/favicon.png'}"/>
    <title>Zapomenuté heslo posláno</title>
</head>
<body>
    <div class="page">
        <h1>Obnova hesla</h1>
        <div class="flex-outer">
            
                <h3>Email s instrukcemi k obnově hesla vám byl odeslán.</h3>
            <div class="buttonSubmit"><a href="prihlaseni.html">Po změně hesla pokračujte přihlášením.</a></div>
        </div>
    </div>
</body>
</html>
