<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/styly.css"
          th:href="${'../css/styly.css'}"/>
    <link rel="icon" href="../../static/images/favicon.png"
          th:href="${'../images/favicon.png'}"/>
    <title>Zapomenuté heslo</title>
</head>
<body>
    <div class="page">
        <h1>Obnovte si heslo</h1>

        <form method="post">
            <ul class="flex-outer">
                <li>
                    <label for="em">Email:</label>
                    <input id="em" name="email"/>
                    
                </li>
                <li>
                    <input id= "buttonSumbit" type="submit" value="Zaslat obnovu na email">
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
